#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

# COMSTAR TARGET TYPE
TARGET_TYPE=FC

# TEST LOG Directory
LOGDIR=/var/tmp/comstar_log/fc

# EXPECT location
EXPECT=/usr/bin/expect

# FC INITIATOR HOST
# example: FC_IHOST="10.13.49.49"
FC_IHOST=

# ZPOOL NAME
ZP=comstar

# Block DEVICE SLICE LIST. The total size of these slices should be larger
# than 8G by default.
# example: BDEVS="/dev/dsk/c0t1d0s1 /dev/dsk/c0t1d0s7"
BDEVS=

# Raw DEVICE SLICE LIST.The total size of these slices should be larger
# than 8G by default.
# example: RDEVS="/dev/rdsk/c0t1d0s1 /dev/rdsk/c0t1d0s7"
RDEVS=

# TIMEOUT for local or remote command line execution, default 180 seconds
TIME_OUT=180

# ZFS Volume Number for Stress Testing, default 8
VOL_MAX=8
# ZFS Volume Size for Stress Testing, default 1g
VOL_SIZE=1g
# FAULT INJECTION Mapping configuration, if set 0, each LUN is mapped to 
# only one initiator host group
# if set 1, each LUN is mapped to all the initiator host group 
FULL_MAPPING=0
# STANDALONE is 0, all the verification is running on target host
STANDALONE=0

# Fault Injection Parameters for SWITCH CABLE PULL              
# $1: Switch Type, CISCO is supported
# $2: Switch IP Address
# $3: Administrator Username
# $4: Administrator Pasword
# $5: Switch Port Number
# example: FC_TARGET_SWITCH_PORT="QLOGIC:10.13.49.17:admin:password:4,5"
FC_TARGET_SWITCH_PORT=

# Fault Injection Arguments for luxadmlip
# number of seconds, default 131
LIP_MODVAL=131
# number of seconds for upper boundary, default 120
LIP_UPPERBNDRY=120
# number of seconds for lower boundary, default 90
LIP_LOWERBNDRY=90
# max number of cycles, defualt 30
LIP_MAX_ITER=2

# number of seconds between host side cable pull and target side cable pull 
# with I/O operation, default 300
TS_SNOOZE=300
# number of seconds between stmf smf service online and offline, default 10 
SS_SNOOZE=10
# number of seconds between fc target port online and offline, default 20 
FT_SNOOZE=20
# number of cycles of test to run, default 2
TS_MAX_ITER=2

